/* font Google */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* font Google */

:root {
  --primary-color: #28e98c;
  --black-color: #565656;
  --second-color: #999;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  position: relative;
  min-height: 100vh;
  padding: 0;
  color: white;
  background: #000;
  line-height: 1.7;
}

body * {
  z-index: 2;
}

.body.hide {
  opacity:0.4;
  z-index:10;
}

.title {
  border: 1px solid #565656;
  width: fit-content;
  padding: 6px 25px;
  font-size: 12px;
  border-radius: 25px;
  text-align: center;
  margin: 20px 0;
}

.buttonScroll {
  position: fixed;
  right: 30px;
  bottom: 5%;
  background-color: white;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  color: var(--primary-color);
  width: 45px;
  height: 30px;
  opacity:0;
  transition:0.5s;
}


/* Start Background */
.background video {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.3;
}
/* End Background */
/* start Navbar */
nav .container {
  border: 1px solid var(--black-color);
  border-radius: 25px;
}

nav li a.active {
  color: var(--primary-color) !important;
}
nav li a.nav-link {
  color: var(--second-color);
  transition: 0.5s;
  font-weight: 600;
}

nav li a.nav-link:hover {
  color: var(--primary-color);
}

nav button.navbar-toggler {
  box-shadow: none;
}
nav button.navbar-toggler i.icon {
  font-size: 28px;
  color: var(--primary-color);
}

nav button.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

/* End Navbar */
/* Start Home */
.home button {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
  border-radius: 13px;
  font-size: 15px;
  transition: 0.5s;
  margin-top: 10px;
}

.home button:hover {
  color: var(--primary-color);
  background-color: transparent;
}


.home h3 {
  line-height: 1.5;
}
.home h3 span {
  color: var(--primary-color);
}

.home p {
  color: var(--second-color);
    margin: 15px 0;
}



/* Start About */
.about h1 span {
  color: var(--primary-color);
}

.about p {
  color: var(--second-color);
  margin: 0px;
}

.about img {
    max-height: 350px;
    width: 100%;
    border-radius:10px;
}
/* End About */
/* start Services */
.services h1 span {
  color: var(--primary-color);
}

.services p {
  color: var(--second-color);
  margin: 10px 0;
}

.services img {
  border-radius: 20px;
}

.services .smallScreenImage {
  display: none;
}

@media (max-width: 992px) {
  .services .smallScreenImage {
    display: block;
  }

  .services .bigScreenImage {
    display: none;
  }
}

/* start team */
.team h1 span {
  color: var(--primary-color);
}

.team .card {
  background-color: transparent;
}

.team .card img {
  border-radius: 10px;
  height: 400px;
}

.team .card h3 {
  margin-bottom: 0;
}
.team .card p {
  color: var(--second-color);
  margin: 0;
}

.team .icons {
  position: absolute;
  left: 10px;
  top: 5px;
}
.team .icon a {
  color: white;
  background-color: var(--primary-color);
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  border-radius: 50%;
  margin: 8px 0;
  transition: 0.5s;
}

.team .icon a:hover {
  background-color: white;
  color: var(--primary-color);
}

.team .icon a i {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 18px;
  transform: translate(-50%, -50%);
}

/* Start Contact */
.contact h1 span {
    color: var(--primary-color);
}

.contact label {
    color: #999999;
}

.contact input {
    background-color: transparent;
    outline: none;
    border: 1px solid #565656;
}

.contact textarea {
    background-color: transparent;
    outline: none;
    border: 1px solid #565656;
    height: 200px !important;
}

.form-control:focus {
    color: #999999;
    background-color: transparent;
    border-color: #565656;
    outline: 0;
    box-shadow: none;
}

.contact .buttonStyle {
    color: white;
    background-color: var(--primary-color);
    padding: 10px 40px;
    border-radius: 30px;
    border: 1px solid var(--primary-color);
    display: block;
    text-align: center;
    transition: 0.5s;
}

.contact .buttonStyle:hover {
    color: var(--primary-color);
    background-color: transparent;
}
/* End Contact */
/* Start Footer */
footer {
    background-color: #00000099;
}

ul  {
    list-style:none;
    padding:0;
}

@media(max-width:776px) {
    ul {
        flex-direction: column;
    }
}

footer ul li a {
    color: var(--second-color);
    text-decoration: none;
    transition:0.5s;
    display: block;
    margin-left: 10px;
    margin-right:10px;
    margin-bottom:5px;
}

ul li a:hover {
    color: var(--primary-color);
}

footer .icons a {
    border:1px solid var(--primary-color);
    width:35px;
    height:35px;
    display:block;
    background-color:var(--primary-color);
    color:white;
    position:relative;
    border-radius:50%;
    margin:0 5px;
    transition:0.5s;
}

footer .icons a i {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 18px;
    transform: translate(-50%, -50%);
}

footer .icons a:hover {
    background-color:transparent;
    color:var(--primary-color);
}

/* End Footer */
/* Start TeamPage */
.teamPage .box {
  border: 1px solid var(--black-color);
  border-radius: 30px;
}
.teamPage .text h1 {
  margin: 3px 0;
  color: var(--primary-color);
}
.teamPage .text p {
  color: var(--second-color);
  line-height: 1.9;
  margin: 10px 0px;
}

.teamPage .image img {
    height: 350px;
    border-radius: 10px;
    width: 350px;
    margin:  0 0 0 auto;
    display: block;
}

@media(max-width:992px) {
    .teamPage .image img {
        margin: auto;
    }
}

.teamPage .icon a {
    color: white;
    background-color: var(--primary-color);
    border:1px solid var(--primary-color);
    display: block;
    width: 35px;
    height: 35px;
    position: relative;
    border-radius: 50%;
    margin: 8px 5px;
    transition: 0.5s;
  }
  
  .teamPage .icon a:hover {
    background-color: transparent;
    color: var(--primary-color);
  }
  
  .teamPage .icon a i {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 18px;
    transform: translate(-50%, -50%);
  }
/* End TeamPage */
/* Start contactPage */
.contactPage h4 span {
    color:var(--primary-color);
}
.contactPage .parTitle {
    color:var(--second-color);
    margin:15px 0;
}

.contactPage .icon i {
    font-size: 20px;
    color: var(--primary-color);
    margin-right: 8px;
}

.contactPage .icon p {
    margin:0;
    color:var(--second-color);
    font-size:20px;
    cursor: pointer;
    transition:0.5s;
}   

.contactPage .icon p:hover {
    letter-spacing: 1.5px;
}
/* End contactPage */



.btnMenu {
  background-color: black;
  color: white;
  border: 1px solid #565656;
  border-radius: 50%;
  font-size: 20px;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 40px;
  top: 40px;
  z-index: 100;
  opacity: 0;
  transition:0.5s;
}

.menuButton {
  background-color: #191919;
  transition: 0.5s;
}

.menuButton.hide {
  transform: translateX(100%);
}

.headerMenu h5 {
  color: #999999;
}

.headerMenu .btnclose {
  color: white !important;
  background-color: transparent;
  border: none;
}

.menuButton {
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  z-index: 20000;
  width: 300px;
  height: 100vh;
}

.bodyMenu {
  display: flex;
  justify-content: center;
}

.menuButton .container a {
  text-decoration: none;
  color: #999999;
  display: block;
  font-size: 13px;
  transition: 0.5s;
}

.menuButton .container a i {
  color: #999999;
  transition: 0.5s;
}

.menuButton .container a.active {
  color: white;
}

.menuButton .container a.active i {
  color: var(--primary-color);
}

.menuButton .container a:hover {
  color: white;
  letter-spacing: 1.4px;
}

.menuButton .container a:hover i {
  color: var(--primary-color);
}

.menuButton .container p {
  color: #999999;
}

.menuButton .container .icon a {
  font-size: 15px;
  color: #999999;
}


.spinner {
  width: 44.8px;
  height: 44.8px;
  animation: spinner-y0fdc1 2s infinite ease;
  transform-style: preserve-3d;
  position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10000000000;
}

.spinner > div {
  background-color: rgba(71,75,255,0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2.2px solid #474bff;
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-22.4px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(22.4px);
}

@keyframes spinner-y0fdc1 {
  0% {
     transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
     transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}