/* font Google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
/* font Google */

:root {
  --primary-color: #5390d9;
  --black-color: #565656;
  --second-color: #5c677d;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 30px;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  position: relative;
  min-height: 100vh;
  padding: 0;
  color: #000000;
  background: #ffffff;
  line-height: 1.7;
}

body * {
  z-index: 2;
}

.title {
  border: 1px solid var(--primary-color);
  width: fit-content;
  padding: 6px 25px;
  font-size: 25px;
  border-radius: 25px;
  text-align: center;
  margin: 25px auto;
  color: var(--primary-color);
}

.buttonScroll {
  position: fixed;
  right: 30px;
  bottom: 5%;
  background-color: white;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  color: var(--primary-color);
  width: 45px;
  height: 30px;
  opacity: 0;
  transition: 0.5s;
}

.video2 {
  width: 100%;
  height: 350px;
  object-fit: cover;
  z-index: -1;
  opacity: 0.8;
}
/* start animation */
.backgroundWaviy {
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  z-index: 1000000;
  position: absolute;
}

.waviy {
  position: fixed;
  top: 45%;
  left: 45%;
  z-index: 10000000000;
}

.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: var(--primary-color);
  text-transform: uppercase;
  animation: flip 1s;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}
/* End animation */
/* start Navbar */
nav {
  top: 0;
  z-index: 105000;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

nav li a.active {
  color: var(--primary-color) !important;
}
nav li a.nav-link {
  color: var(--second-color);
  transition: 0.5s;
  font-weight: 600;
}

nav li a.nav-link:hover {
  color: var(--primary-color);
}

nav button.navbar-toggler {
  box-shadow: none;
}
nav button.navbar-toggler i.icon {
  font-size: 28px;
  color: var(--primary-color);
}

nav button.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

nav .logo {
  width: 65px;
}

/* End Navbar */
/* Start Home */
.home {
  position: relative;
  background: #000;
}

.home video {
  width: 100%;
  height: 88vh;
  object-fit: cover;
  z-index: -1;
  opacity: 0.7;
}

.home .container {
  top: 5%;
  left: 50px;
}

@media (max-width: 767px) {
  .home .container {
    left: 0px;
  }
}

.home a {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: white;
  border-radius: 13px;
  font-size: 15px;
  transition: 0.5s;
  text-decoration: none;
  display: block;
  width: fit-content;
  margin: 15px 0;
  cursor: pointer;
}

.home a:hover {
  color: var(--primary-color);
  background-color: white;
}

.home h3 {
  line-height: 1.5;
  color: white;
}
.home h3 span {
  color: var(--primary-color);
}

.home p {
  color: #ffffff99;
  margin: 15px 0;
}
/* End Home */
/* Start About */
.about h4 {
  border-left: 3px solid var(--primary-color);
  padding-left: 10px;
}
.about h4 span {
  color: var(--primary-color);
}

.about p {
  color: var(--second-color);
  margin: 0px;
}

.about img {
  max-height: 350px;
  width: 100%;
  border-radius: 10px;
}

.about .img {
  width: 100%;
  height: auto;
  max-width: 800px;
}

/* End About */
/* start Services */
.services h2 span {
  color: var(--primary-color);
}

.services p {
  color: var(--second-color);
  margin: 10px 0;
}

.services img {
  border-radius: 20px;
}

.services .smallScreenImage {
  display: none;
}

@media (max-width: 992px) {
  .services .smallScreenImage {
    display: block;
  }

  .services .bigScreenImage {
    display: none;
  }
}
/* End Services */
/* start Portfolio */
.portfolio .box {
  border-bottom: 1px solid #5390d966;
  padding-bottom: 20px;
}
.portfolio .box:last-of-type {
  border-bottom: none;
}

.portfolio .box h1 {
  color: var(--primary-color);
}

.portfolio .box h2 {
  color: var(--primary-color);
}

.portfolio .box p {
  color: var(--second-color);
}
.portfolio .box img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.portfolio .smallScreenImage {
  display: none;
}

@media (max-width: 992px) {
  .portfolio .smallScreenImage {
    display: block;
  }

  .portfolio .bigScreenImage {
    display: none;
  }
}

.portfolio a {
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 8px 30px;
  color: white;
  font-weight: 500;
  border-radius: 19px;
  display: block;
  width: fit-content;
  border: 1px solid var(--primary-color);
  margin: 10px auto;
  transition: 0.5s;
}

.portfolio a:hover {
  background-color: white;
  color: var(--primary-color);
}

/* End Portfolio */
/* start team */
.team h1 span {
  color: var(--primary-color);
}

.team .card {
  border-radius: 10px;
  transition: 0.7s;
  overflow: hidden;
}

.team .card img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 400px;
}

.team .card h4 {
  margin-bottom: 0;
  color: var(--primary-color);
}
.team .card p {
  color: var(--second-color);
  margin: 0;
}

.team .icons {
  position: absolute;
  left: -50px;
  top: 5px;
  transition: 0.7s;
}

.team .icon a {
  color: white;
  background-color: var(--primary-color);
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  border-radius: 50%;
  margin: 8px 0;
  transition: 0.5s;
}

.team .icon a:hover {
  background-color: white;
  color: var(--primary-color);
}

.team .icon a i {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 18px;
  transform: translate(-50%, -50%);
}

.team .imageHide {
  position: absolute;
  opacity: 0.1;
  transition: 0.7s;
}

.team .card:hover .imageHide {
  opacity: 1;
}

.team .card:hover .icons {
  left: 10px;
}
/* End team */
/* Start Footer */
footer {
  background-image: linear-gradient(rgba(3, 27, 78, 0.3), rgba(3, 27, 78, 0.3)),
    url(../images/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #031b4e;
}

footer h3 {
  color: var(--primary-color);
  font-weight: 600;
}

footer .icons a {
  border: 1px solid var(--primary-color);
  width: 35px;
  height: 35px;
  display: block;
  background-color: var(--primary-color);
  color: white;
  position: relative;
  border-radius: 50%;
  margin: 0 5px;
  transition: 0.5s;
}

footer .icons a i {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 18px;
  transform: translate(-50%, -50%);
}

footer .icons a:hover {
  background-color: white;
  color: var(--primary-color);
}

footer .part-1 p {
  font-size: 14px;
}

footer .part-2 ul {
  padding: 0;
}

footer .part-2 ul li {
  list-style: none;
}

footer .part-2 ul li a {
  text-decoration: none;
  color: #999999;
  font-weight: 600;
  font-size: 14px;
  padding-left: 15px;
  margin-bottom: 10px;
  position: relative;
  display: block;
  transition: 0.5s;
  width: fit-content;
}

footer .part-2 ul li a::before {
  content: "\f105";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-family: "fontAwesome";
  font-size: 13px;
  color: rgb(107, 106, 106);
}

footer .part-2 ul li a:hover {
  letter-spacing: 1.4px;
  color: #f7f8fc;
}

footer p.footerPar {
  font-size: 15px;

}

/* End Footer */
/* Start TeamPage */
.teamPage .box {
  border: 1px solid var(--black-color);
  border-radius: 30px;
}
.teamPage .text h1 {
  margin: 3px 0;
  color: var(--primary-color);
}
.teamPage .text p {
  color: var(--second-color);
  line-height: 1.9;
  margin: 10px 0px;
}

.teamPage .image img {
  height: 350px;
  border-radius: 10px;
  width: 350px;
  margin: 0 0 0 auto;
  display: block;
}

@media (max-width: 992px) {
  .teamPage .image img {
    margin: auto;
  }
}

.teamPage .icon a {
  color: white;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  border-radius: 50%;
  margin: 8px 5px;
  transition: 0.5s;
}

.teamPage .icon a:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.teamPage .icon a i {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 18px;
  transform: translate(-50%, -50%);
}
/* End TeamPage */
/* Start contactPage */
.contactPage h4 span {
  color: var(--primary-color);
}
.contactPage .parTitle {
  color: var(--second-color);
  margin: 15px 0;
}

.contactPage .icon i {
  font-size: 35px;
  color: var(--primary-color);
  margin-right: 10px;
}

.contactPage .icon p {
  margin: 0;
  color: var(--second-color);
  font-size: 25px;
  cursor: pointer;
  transition: 0.5s;
}

.contactPage .icon p:hover {
  letter-spacing: 1.5px;
}
/* End contactPage */
/* start land */
.land {
  background-image: url(../images/landingAbout.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 50vh;
}

.land::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.722);
  width: 100%;
  height: 100%;
}

.land h1 {
  font-size: 60px;
  color: white;
  margin-bottom: 15px;
}

.land li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.land li.active {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}
/* End land */
/* start goal */
.goal img {
  border-radius: 15px;
}

.goal p {
  color: var(--second-color);
  position: relative;
  border-left: 3px solid var(--primary-color);
  padding-left: 10px;
}
/* End goal */
